HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/backup
**/target/
*.rar
*.docx
*.zip
# *.dat

.idea
backup
bak
bak_2
bak_3
bak_4
gitignore
images
img
log

model

train_txt
# *.txt 
*.docx 
*.log
*.npy

# *.m
# 可以防止ignore 主要是 我防止了 目录， 但是没有防止 .m 文件。。。

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

*~Stashed changes



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#秘钥
*.pfx
*.p12
*key.yml
*.yml

**/__pycache__

out/
gitignore

bin
log
out/

backup/

private/
*.exe


**.exe

/cmake-build-debug

Debug/

.history/